/*gnb*/
.main_content_wrap{width: 100%; background-color: #EEF8FB; overflow: hidden; font-size: 16px;}
.main_content .swiper-button-prev, .main_content .swiper-button-next{background-repeat: no-repeat; background-color: transparent; background-size: 100%;}
.main_content .swiper-slide .img_area{display: inline-block; width: 100%; overflow: hidden;}
.main_content .swiper-slide img{width: 100%; height: 100%;}
.main_top{width: 1920px; margin:0 auto; font-family: 'AritaBuri'; background: url("../images/main/main_top_bg.jpg") no-repeat;}
.main_top .main_top_inner{position: relative; width: 1540px; margin:0 auto}
.main_top .top_title{width: 96%;}
.main_top .main_slide{position: relative; padding-top:215px; margin-left: 385px;}
.main_top .main_slide .swiper-slide{width: 1184px; height: 634px; overflow: hidden;}
.main_top .main_slide .swiper-button-prev, .main_top .main_slide .swiper-button-next{width: 42px; height: 12px; top: auto; bottom: 60px; background-size: 100%;}
.main_top .main_slide .swiper-button-prev{background-image: url("../images/main/main_arr_prev.png"); left: auto; right: 150px;}
.main_top .main_slide .swiper-button-next{background-image: url("../images/main/main_arr_next.png"); right: 80px}
.main_top .cont_area{position: absolute; top:417px; left: 0; z-index: 110;}
.main_top .cont_area .txt{margin-top: 30px; font-size: 20px; line-height: 34px; color: #fff; word-wrap: break-word; word-break: keep-all;}
.main_top .cont_area .txt .block{display: block;}
.main_top .search_form{position: relative; width: 260px; height: 70px; margin-bottom: 30px; padding-right: 60px; border: 2px solid rgba(255, 255, 255, 0.5); border-radius: 50px; box-sizing: border-box;}
.main_top .search_form legend{position:absolute; top:0; left:0; width:0; height:0; line-height:0; visibility:hidden; overflow:hidden; text-indent:-9999px;}
.main_top .search_form .search_input{display: inline-block; width: 100%; height: 48px; margin:10px; padding:0 10px; color: #fff; font-size: 20px; font-family: 'AritaBuri'; border: 0; border-radius: 50px; box-sizing: border-box; background-color: transparent;}
.main_top .search_form .search_input::placeholder{color: #fff; font-size: 20px; font-family: 'AritaBuri';}
.main_top .search_form .search_input:focus{outline: none;}
.main_top .search_form .ico_sch{display: inline-block; position: absolute; top:25%; right: 18px; width: 36px; height: 36px; font-size:0; line-height:0; text-indent:-9999px; background: url("../images/ico_search_white.png") no-repeat; }
.main_content{position: relative; width: 1540px; margin:0 auto; font-family: 'AritaBuri'; background: url("../images//main/bg_content.png") no-repeat center 59%;}
.main_content .intro_section{padding-top: 108px;  background: url("../images/main/bg_intro.png") no-repeat right -508px;}
.main_content .title{margin-bottom: 32px; font-size: 60px; font-family: 'AritaBuri'; font-weight: bold;}
.main_content .txt{margin-bottom: 16px; color: #4A6688; font-size: 18px; font-family: "Noto Sans KR", sans-serif;}
.main_content .main_btn{display: block; width: 150px; height: 52px; line-height: 2.6; border-radius: 30px; font-size: 20px; background-color: #192B57; color: #fff; font-family: 'AritaBuri'; text-align: center;}
.main_content .more_btn_area{text-align: center; margin-left: -7%;}
.main_content .more_btn{width: 126px; height: 40px; color: #0C1622; border:1px solid #192B57; border-radius: 50px; background-color: transparent; font-size: 16px; font-family: "Noto Sans KR", sans-serif;}
.main_content .logo_content{display: block; width: 1413px; margin: 138px auto 83px; font-size: 150px; color: #9CB0B8; text-transform: uppercase; letter-spacing: -0.06em; text-align: center;}
.intro_section{position: relative; width: 1540px; overflow: hidden;}
.intro_section .intro_slide {margin-top: 73px; width: 1540px;}
.intro_section .intro_slide .swiper-slide{position: relative;}
.intro_section .intro_slide .swiper-slide-active{margin-top: -220px;}
.intro_section .swiper-button-prev, .intro_section .swiper-button-next{width: 47px; height: 47px; top:90px; left: auto; border: 1px solid #192B57; background-size: 25%; z-index: 120;}
.intro_section .swiper-button-prev{right: 47px;}
.intro_section .swiper-button-next{right: 0; border-left: none;}
.intro_section .intro_slide .img_area{height: 580px;}
.intro_section .intro_slide .text{position: absolute; top:428px; left: 40px; width: 380px; height: 78px; overflow: hidden; word-wrap: break-word; word-break: keep-all; color: #fff; font-size: 32px;}
.intro_section .intro_slide .info{line-height: 1.6; color: #0C1622; font-size: 22px;}
.intro_section .intro_slide .info em{display: block; margin-top: 38px; font-size: 24px;}
.intro_section .swiper-button-prev, .memorial_section .swiper-button-prev:before{background-image: url("../images/main/arr_prev.png");}
.intro_section .swiper-button-next,.memorial_section .swiper-button-next::before{background-image: url("../images/main/arr_next.png");}
.intro_section .more_btn{margin-top:20px;}
.main_content .memorial_section{position: relative;}
.memorial_section .memorial_slide{margin-top: 40px; }
.memorial_section .memorial_slide .swiper-slide{/*height: 400px;*/  transform: scale(0.8);}
.memorial_section .memorial_slide .swiper-slide-active{margin-top: -55px; /*height: 575px;*/  transform: scale(1);}
.memorial_section .memorial_slide .img_area{height: 490px;}
.memorial_section .memorial_slide .text{margin-top: 40px; margin-bottom: 13px; font-size: 28px;}
.memorial_section .memorial_slide .info{color: #7C7C7C; font-size: 22px;}
.memorial_section .memorial_slide dt{margin-bottom: 17px; font-family: 'NotoSerifKR';}
.memorial_section .memorial_slide dd{margin-bottom: 6px; font-size: 18px; font-family: "Noto Sans KR", sans-serif;}
.memorial_section .memorial_slide dd span{display: inline-block; width: 57px; height: 30px; margin-right: 14px; border:1px solid #0C1622; color:#0C1622; border-radius: 50px; text-align: center;}
.memorial_section .swiper-button-prev,.memorial_section .swiper-button-next{ top:auto; bottom: 0;  height: auto; color: #192B57; background: none; font-family: "Noto Sans KR", sans-serif;}
.memorial_section .swiper-button-next{right: inherit; right: 40px;}
.memorial_section .swiper-button-prev:before, .memorial_section .swiper-button-next:before{position: absolute; top:4px; left: 0; width: 12px; height: 17px; content: "";}
.memorial_section .swiper-button-next:before{left: 50px;}
.memorial_section .swiper-button-prev span{display: inline-block; margin-left: 30px;}
.memorial_section .swiper-button-next span{display: inline-block; margin-right: 30px;}
.memorial_section .swiper-pagination{top: auto; bottom: 0; left: 50%; width: 600px; margin-left: -300px;}
.memorial_section .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background: #192B57;}
.remember_service {background: url("../images/main/bg_cont_service.png") no-repeat; background-size: 100%;}
.remember_service .service_content{display: flex; justify-content:space-between; width: 1540px; margin:0 auto; padding:270px 0 140px;}
.remember_service a{display: block; width: 304px; height: 364px; padding:70px 0; color: rgba(255, 255, 255, 0.8);; text-align: center; background-repeat: no-repeat; box-sizing: border-box;}
.remember_service a i{display: block; height: 67px; margin-bottom: 32px;}
.remember_service a strong{display: block; margin-bottom: 20px; font-size: 26px; font-family: 'AritaBuri';}
.remember_service a .desc{font-size: 16px; font-family: "Noto Sans KR", sans-serif;}
.remember_service .sv1{background-image: url("../images/main/bg_service1.png");}
.remember_service .sv2{background-image: url("../images/main/bg_service2.png");}
.remember_service .sv3{background-image: url("../images/main/bg_service3.png");}
.remember_service .sv4{background-image: url("../images/main/bg_service4.png");}
@media (min-width: 760px) and (max-width: 1760px) {
    .intro_section{width: 100%;}
    .main_content{width: 98%;}
    .remember_service .service_content{width: 98%;}
}
@media (max-width: 760px) {
    .main_content_wrap{width: 100%; background-color: #EEF8FB;}   
    .main_content_wrap img{width: 100%;}
    .main_top{width: 100%; background: url("../images/main/mb_top_bg.jpg") no-repeat; background-size: cover;}
    .main_top .main_top_inner{width: 100%; margin: 0; padding-bottom: 66px;}
    .main_top .main_slide{margin-left: 6%; padding-top: 97px;}
    .main_top .main_slide .swiper-slide{height: 265px;}
    .main_top .main_slide .swiper-slide img{width: 100%; height: 100%;}
    .main_top .main_slide .swiper-wrapper{padding-bottom: 40px;}
    .main_top .main_slide .swiper-button-prev, .main_top .main_slide .swiper-button-next{bottom: 0; background-size: 80%;}
    .main_top .main_slide .swiper-button-prev{right: 84px;}
    .main_top .main_slide .swiper-button-next{right: 25px;}
    .main_top .cont_area{position: relative; top:auto; left: auto;  margin-left: 7%;} 
    .main_top .cont_area .txt{width: 96%; margin-top: 15px; line-height: 1.6; font-size: 14px;}
    .main_top .cont_area .txt .block{display: inline;}
    .main_top .search_form{width: 184px; height: 60px; font-size: 14px;}
    .main_top .search_form .ico_sch{top: 25%; width: 28px; height: 28px; background-size: 100%;}
    .main_top .search_form .search_input{height: 38px; font-size: 14px;}
    .main_top .search_form .search_input::placeholder{font-size: 14px;}
    .main_content .main_btn{width: 96px; height: 33px; line-height: 2.1; font-size: 16px;}
    .main_content{width: 100%;  background-size: 100%;}
    .main_content .title{margin-bottom: 16px; font-size: 30px;}
    .main_content .txt{font-size: 14px;}
    .main_content .more_btn{width: 100px; height: 32px;}
    .main_content .logo_content{width: 98%; margin:65px auto; font-size: 36px;}
    .main_content .intro_section{width: 100%; margin-left: 6%; padding-top: 57px; background: url("../images/main/bg_mb_intro.png") no-repeat 0 16px; background-size: 100%;}
    .main_content .intro_section .intro_slide{margin-top: 38px; margin-bottom: 33px; width: 80%;}
    .main_content .intro_section .intro_slide .swiper-slide-active{margin-top:0 ;}
    .main_content .more_btn_area{text-align: left; margin-left: 0;}
    .intro_section .swiper-button-prev, .intro_section .swiper-button-next{display: none;}
    .intro_section .intro_slide .img_area{height: 310px;}
    .intro_section .intro_slide .text{width: 90%; top:58%; left: 5%; line-height: 1.4; font-size: 18px;}
    .intro_section .intro_slide .info{font-size: 14px;}
    .intro_section .intro_slide .info em{margin-top: 20px; font-size: 16px;}
    .memorial_section{margin-bottom: 54px;}
    .memorial_section .section_style{margin-left: 6%; margin-bottom: 104px;}
    .memorial_section .swiper-button-prev,.memorial_section .swiper-button-next{display: none;}
    .memorial_section .memorial_slide{margin-top: 0px; padding-bottom: 60px;}
    .memorial_section .memorial_slide .swiper-slide{height: auto;  transform: scale(0.9);}
    .memorial_section .memorial_slide .swiper-slide-active{margin-top: -23px;  height: auto;  transform: scale(1.2);}
    .memorial_section .memorial_slide .swiper-slide img{width: 100%; }
    .memorial_section .memorial_slide .img_area{height: 196px;}
    .memorial_section .memorial_slide .text{margin-top: 22px; margin-bottom: 4px; font-size: 18px; word-wrap: break-word; word-break: keep-all;}
    .memorial_section .memorial_slide .info{line-height: 1.4; font-size: 14px;}
    .memorial_section .memorial_slide dd{font-size: 14px;}
    .memorial_section .memorial_slide dd span{width: 45px; height: 18px; margin-right: 7px; font-size: 12px;}
    .memorial_section .swiper-pagination{width: 80%; left: 10%; margin-left: 0;}
    .remember_service .service_content{width: 100%; padding:55px 0 60px; flex-direction: column; background: url("../images/main/bg_mb_cont_service.png") no-repeat 0 0; background-size: 100%;}
    .remember_service a{width: 230px; height: 276px; margin: 0 auto 20px; padding:50px 0; background-size: 100%;}
    .remember_service a i{width: 25%; height: 44px; margin:0 auto 24px;}
    .remember_service a strong{margin-bottom: 14px; font-size: 18px;}
    .remember_service a .desc{font-size: 14px;}       
}
 
